body {
  overflow: hidden;
  background-color: #f5efe6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.big-box {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.main-box {
  width: 90%;
  height: auto;
  max-width: 600px;
  position: relative;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 6vw 4vw;
  border: none;
  border-radius: 8px;
  box-shadow: 0vw 0.6vw 30px 0.01vw rgba(0, 0, 0, 0.1);
}
.start-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  padding-bottom: 1vw;
}
.start-box-header {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #e86a33;
}
.explain-message {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.start-button {
  display: flex;
  width: 28vw;
  height: 12vw;
  background-color: #e86a33;
  color: white;
  border: none;
  border-style: solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.start-button:hover {
  background-color: #d45b28;
  border-color: #dac0ae;
}
.quiz-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  padding-bottom: 1vw;
}
.questions-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
  justify-content: center;
}
.questions-box-header {
  width: 100%;
  height: auto;
  display: flex;
}
.question {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #333;
}
.questions-info {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 12px;
  padding: 0px 10px;
  color: #666;
  gap: 32vw;
}
.answers-box {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-bottom: 4vw;
  position: relative;
  width: 80%;
  height: auto;
}
.answers-button {
  background-color: #f8f0e5;
  color: #333;
  border: 1px solid #eadbc8;
  border-radius: 8px;
  padding: 1vw;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}
.answers-button:hover {
  background-color: #eadbc8;
  border-color: #dac0ae;
}
.answers-button-correct {
  background-color: #e6fff0;
  border-color: #a3f0c4;
  color: #28a745;
}
.answers-button-incorrect {
  background-color: #a80c13;
  border-color: #ffbdbd;
  color: #dc3545;
}
.progress-bar-box {
  width: 100%;
  height: auto;
  padding: 1vw;
  display: flex;
  justify-content: center;
}
.progress-bar {
  width: 80%;
  height: 10px;
  background-color: #f8f0e5;
  border-radius: 4px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background-color: #e86a33;
  width: 0%;
  transition: width 0.3s ease;
}
.result-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
}
.result-box-header {
  color: #e86a33;
  margin-bottom: 6vw;
}
.result-message-box {
  width: 100%;
  height: auto;
  padding: 1vw;
  display: flex;
  justify-content: center;
  background-color: #f8f0e5;
  border-radius: 8px;
  padding: 4vw;
  margin-bottom: 8vw;
}
.result {
  font-size: 18px;
  color: #333;
  margin-bottom: 16px;
}
.result-message {
  font-size: 24px;
  font-weight: 600;
  color: #e86a33;
}
.finish-button {
  background-color: #e86a33;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 2vw 4vw;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.finish-button:hover {
  background-color: #d45b28;
  border-color: #dac0ae;
}
